In [144]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
from scipy.stats import ttest_1samp

In [145]:
data = pd.read_csv(r'C:\Users\sorig\Desktop\machines23.csv')
data

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [146]:
# h0-old machine is better, mean new machine >= mean old machine

In [147]:
data['old_machine'].mean()

43.230000000000004

In [148]:
new_machine_list = list(data['new_machine'])
new_machine_list

[42.1, 41.0, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [149]:
stat, pval = ttest_1samp(new_machine_list, 43.23)
print('pvalue for the one-tailed test is: ', pval/2 , 'stat values is: ', stat)

pvalue for the one-tailed test is:  0.0003483188038379669 stat values is:  -5.043318535038297

In [150]:
# p low, H0 must go. We reject the ideea  that new machine is worst than the old one. We cannot say anything about it being better

In [151]:
# part 1. 2

In [152]:
pokemon_data = pd.read_csv(r'C:\Users\sorig\Desktop\pokemon.csv')
pokemon_data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [161]:
def t_test_features(s1, s2, features):
        results = {}
        for feature in features:
            results[feature] = st.ttest_ind(s1[feature], s2[feature], equal_var = False)
        return results

In [162]:
legend = pokemon_data.loc[pokemon_data['Legendary'] == True]
no_legend = pokemon_data.loc[pokemon_data['Legendary'] == False]

In [163]:
lista = list(['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])
lista

['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']

In [164]:
t_test_features(legend, no_legend, lista)

{'HP': Ttest_indResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13),
 'Attack': Ttest_indResult(statistic=10.438133539322203, pvalue=2.520372449236646e-16),
 'Defense': Ttest_indResult(statistic=7.637078164784618, pvalue=4.8269984949193316e-11),
 'Sp. Atk': Ttest_indResult(statistic=13.417449984138461, pvalue=1.5514614112239812e-21),
 'Sp. Def': Ttest_indResult(statistic=10.015696613114878, pvalue=2.2949327864052826e-15),
 'Speed': Ttest_indResult(statistic=11.47504444631443, pvalue=1.049016311882451e-18),
 'Total': Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)}

In [ ]:
# the p values are low, the HO HO HO must go. The HO is that the sample mean from legendary is not different from the sample mean of non-legendary
# the statistic is positive , so the mean of legendary > means non-legendary

In [ ]:
# conduct t-test for Generation 1 and Generation 2 pokemons

In [166]:
gen1 = pokemon_data.loc[pokemon_data['Generation'] == 1]
gen2 = pokemon_data.loc[pokemon_data['Generation'] == 2]

In [167]:
t_test_features(gen1, gen2, lista)

{'HP': Ttest_indResult(statistic=-1.4609700002846653, pvalue=0.14551697834219623),
 'Attack': Ttest_indResult(statistic=1.1603052805533747, pvalue=0.24721958967217725),
 'Defense': Ttest_indResult(statistic=-0.5724173235153119, pvalue=0.5677711011725426),
 'Sp. Atk': Ttest_indResult(statistic=1.54608675231508, pvalue=0.12332165977104388),
 'Sp. Def': Ttest_indResult(statistic=-1.3203746053318755, pvalue=0.18829872292645752),
 'Speed': Ttest_indResult(statistic=3.069594374071931, pvalue=0.00239265937312135),
 'Total': Ttest_indResult(statistic=0.579073329450271, pvalue=0.5631377907941676)}

In [ ]:
# pvalue bigger than 0.05, we cannot reject the HO

In [ ]:
# Compare pokemons who have single type vs those having two types.

In [168]:
single = pokemon_data.loc[pokemon_data['Type 2'].isna()]
two = pokemon_data.loc[pokemon_data['Type 2'].notna()]

In [170]:
t_test_features(single, two, lista)

{'HP': Ttest_indResult(statistic=-1.586088850338319, pvalue=0.11314389855379414),
 'Attack': Ttest_indResult(statistic=-3.810556219950897, pvalue=0.00014932578145948305),
 'Defense': Ttest_indResult(statistic=-5.60979416640793, pvalue=2.7978540411514693e-08),
 'Sp. Atk': Ttest_indResult(statistic=-3.828976815384819, pvalue=0.00013876216585667907),
 'Sp. Def': Ttest_indResult(statistic=-3.892991138685155, pvalue=0.00010730610934512779),
 'Speed': Ttest_indResult(statistic=-2.258014040079978, pvalue=0.02421703281819093),
 'Total': Ttest_indResult(statistic=-5.355678438759113, pvalue=1.1157056505229961e-07)}

In [ ]:
# For some features the H0 can be rejected(p value < 0.05). For others it seems that the means could(we cannot reject HO, p value>0.05) be the same.

In [171]:
# Now, we want to compare whether there are significant differences of Attack vs Defense and Sp. Atk vs Sp. Def of all pokemons. Please write your code below.

In [174]:
print(st.ttest_rel(pokemon_data['Attack'], pokemon_data['Defense']))
print(st.ttest_rel(pokemon_data['Sp. Atk'], pokemon_data['Sp. Def']))

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)
TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

In [ ]:
# for attack vs defense, the p value is low, HO must go. For sp.atk vs sp.def the p value is bigger than 0.05, we cannot reject HO

In [ ]:
# part2.1

In [ ]:
# Extract the unique values of the pokemon types.

In [179]:
unique_types = list(pokemon_data['Type 1'].append(pokemon_data['Type 2']).unique())
len(unique_types)

C:\Users\sorig\AppData\Local\Temp\ipykernel_7404\2725773145.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_types = list(pokemon_data['Type 1'].append(pokemon_data['Type 2']).unique())

19

In [ ]:
# Second we will create a list named pokemon_totals to contain the Total values of each unique type of pokemons

In [185]:
pokemon_totals = []

for eachtype in unique_types:
    if isinstance(eachtype, str):
        pokemon_totals.append(pokemon_data.loc[(pokemon_data['Type 1']==eachtype) | (pokemon_data['Type 2']==eachtype)]['Total'])

len(pokemon_totals)

18

In [ ]:
# Now we run ANOVA test on pokemon_totals

In [188]:
st.f_oneway(*pokemon_totals)

F_onewayResult(statistic=6.6175382960055344, pvalue=2.6457458815984803e-15)

In [ ]:
# pvalue low, Ho must go: Type does matter